<app-header></app-header>

<div style="padding-left: 2em;padding-top: 32px;">
  <div class="example-container mat-elevation-z8" style="width: 90%;overflow: auto;max-height: 700px;">
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      <div class="iconFloatRight">
        <button class="mat-icon-button" (click)="refresh()"><mat-icon class="material-icons md-18 iconBlue">cached outline</mat-icon></button>
        <button class="mat-icon-button" [satPopoverAnchorFor]="p" (click)="p.open()"><mat-icon class="material-icons md-18 iconGreen">add outline</mat-icon></button>
      </div>
      <sat-popover #p
                   hasBackdrop
                   xPosition="after"
                   yPosition="below"
                   (closed)="insert($event, 'all', $event)">
        <app-inline-insert [value]="''" [value2]="''" [value3]="''" [value4]="''" [title]="'Add New NPS Client'"></app-inline-insert>
      </sat-popover>
    </div>
    <mat-table #table [dataSource]="dataSource3" matSort>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell class="mat-column-comment" *matCellDef="let npsclient" [satPopoverAnchorFor]="p" (click)="p.open()">
          <ng-container *ngIf="npsclient.name">
          {{npsclient.name}}
        </ng-container>
          <span class="add-comment" *ngIf="!npsclient.name">
            Change Name
          </span>

          <sat-popover #p
                       hasBackdrop
                       xPosition="after"
                       yPosition="below"
                       (closed)="update(npsclient, 'name', $event)">
            <app-inline-edit [value]="npsclient.name" [title]="'Change Name'"></app-inline-edit>
          </sat-popover>
        </mat-cell>
      </ng-container>
      <!-- Department Column -->
      <ng-container matColumnDef="department">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Department</mat-header-cell>
        <mat-cell class="mat-column-comment" *matCellDef="let npsclient" [satPopoverAnchorFor]="p" (click)="p.open()">
          <ng-container *ngIf="npsclient.department">
            {{npsclient.department}}
          </ng-container>
            <span class="add-comment" *ngIf="!npsclient.department">
              Change Department
            </span>

            <sat-popover #p
                         hasBackdrop
                         xPosition="after"
                         yPosition="below"
                         (closed)="update(npsclient, 'department', $event)">
              <app-inline-edit [value]="npsclient.department" [title]="'Change Department'"></app-inline-edit>
            </sat-popover>
          </mat-cell>
      </ng-container>
      <!-- Schedule Column -->
      <ng-container matColumnDef="schedule">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Schedule</mat-header-cell>
        <mat-cell class="mat-column-comment" *matCellDef="let npsclient" [satPopoverAnchorFor]="p" (click)="p.open()">
          <ng-container *ngIf="npsclient.schedule">
            {{npsclient.schedule}}
          </ng-container>
          <span class="add-comment" *ngIf="!npsclient.schedule">
              Change Schedule
            </span>

          <sat-popover #p
                       hasBackdrop
                       xPosition="after"
                       yPosition="below"
                       (closed)="update(npsclient, 'schedule', $event)">
            <app-inline-edit [value]="npsclient.schedule" [title]="'Change Schedule'"></app-inline-edit>
          </sat-popover>
        </mat-cell>
      </ng-container>
      <!-- RelationshipManager Column -->
      <ng-container matColumnDef="relationshipManager">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Relationship Manager</mat-header-cell>
        <mat-cell class="mat-column-comment" *matCellDef="let npsclient" [satPopoverAnchorFor]="p" (click)="p.open()">
          {{npsclient.relationshipManager}}
          <span class="add-comment" *ngIf="!npsclient.relationshipManager">
              Change Relationship Manager
            </span>

          <sat-popover #p
                       hasBackdrop
                       xPosition="after"
                       yPosition="below"
                       (closed)="update(npsclient, 'relationshipManager', $event)">
            <app-inline-edit [value]="npsclient.relationshipManager" [title]="'Change Relationship Manager'"></app-inline-edit>
          </sat-popover>
        </mat-cell>
      </ng-container>
      <!-- actions column -->
      <ng-container matColumnDef="actions" style="width: 40%;">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
        <mat-cell class="mat-column-comment" *matCellDef="let npsclient">
          <div class="iconFloatRight">
            <!-- edit button -->
            <span class="app-action" [class.m2app-dark]="isDarkTheme">
              <button class="mat-icon-button" [satPopoverAnchorFor]="p" (click)="p.open()"><mat-icon class="material-icons md-18 iconBlue">mode_edit outline</mat-icon></button>
                <sat-popover #p
                             hasBackdrop
                             xPosition="after"
                             yPosition="below"
                             (closed)="insert(npsclient, 'update', $event)">
                  <app-inline-insert [value]="npsclient.name" [value2]="npsclient.department" [value3]="npsclient.schedule" [value4]="npsclient.relationshipManager" [value5]="npsclient._id" [title]="'Edit ' + npsclient.name"></app-inline-insert>
                </sat-popover>
            </span>
            <!-- end edit button -->
            <!-- delete button -->
            <span class="app-action" [class.m2app-dark]="isDarkTheme">
              <button class="mat-icon-button" [satPopoverAnchorFor]="p" (click)="p.open()"><mat-icon class="material-icons md-18 iconRed">delete outline</mat-icon></button>
                <sat-popover #p
                             hasBackdrop
                             xPosition="after"
                             yPosition="below"
                             (closed)="delete(npsclient, 'all', $event)">
                  <app-inline-edit [value]="npsclient" [title]="'Delete ' + npsclient.name + '?'"></app-inline-edit>
                </sat-popover>
            </span>
            <!-- end delete button -->
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns" [ngClass]="{'highlight': selectedRowIndex == row}"></mat-header-row>
      <mat-row *matRowDef="let npsclient; columns: displayedColumns;"></mat-row>
    </mat-table>
    <span class="app-action buttonPositionTop" [class.m2app-dark]="isDarkTheme">
        <button mat-fab style="background-color:#ffcc00;" [satPopoverAnchorFor]="p" (click)="p.open()"><mat-icon class="material-icons md-18 iconWhite">add outline</mat-icon></button>
          <sat-popover #p
                   hasBackdrop
                   xPosition="after"
                   yPosition="below"
                   (closed)="insert($event, 'all', $event)">
            <app-inline-insert [value]="''" [value2]="''" [value3]="''" [value4]="''" [value5]="''" [title]="'Add New NPS Client'"></app-inline-insert>
          </sat-popover>
    </span>
  </div>
</div>
