<app-header></app-header>

<div style="padding-left: 2em;padding-top: 32px;">
  <div class="example-container mat-elevation-z8" style="width: 90%;">
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
    <mat-table #table [dataSource]="dataSource3" matSort>
      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell class="mat-column-comment" *matCellDef="let npsclient" [satPopoverAnchorFor]="p" (click)="p.open()">
          <ng-container *ngIf="npsclient.name">
          {{npsclient.name}}
        </ng-container>
          <span class="add-comment" *ngIf="!npsclient.name">
            Change Name
          </span>

          <sat-popover #p
                       hasBackdrop
                       xPosition="after"
                       yPosition="below"
                       (closed)="update(npsclient, $event)">
            <app-inline-edit [value]="npsclient.name"></app-inline-edit>
          </sat-popover>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="department">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Department</mat-header-cell>
        <mat-cell *matCellDef="let npsclient"> {{npsclient.department}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="schedule">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Schedule</mat-header-cell>
        <mat-cell *matCellDef="let npsclient"> {{npsclient.schedule}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="relationshipManager">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Relationship Manager</mat-header-cell>
        <mat-cell *matCellDef="let npsclient"> {{npsclient.relationshipManager}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns" [ngClass]="{'highlight': selectedRowIndex == row}"></mat-header-row>
      <mat-row *matRowDef="let npsclient; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>
