.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.highlight {
  background: #808080;
}

.div-table-body { height: 600px; overflow-x: auto; overflow-y: scroll;}

.mat-cell.mat-column-comment {
  cursor: pointer;
}

.add-comment {
  opacity: 0.4;
}

.iconWhite {
  position: relative;
  color: white;
  bottom: 0em;
  z-index: 5;
}

.iconRed {
  position: relative;
  color: red;
  bottom: -0.4em;
  z-index: 5;
}

.iconBlue {
  position: relative;
  color: blue;
  bottom: -0.4em;
  z-index: 5;
}

.iconGreen {
  position: relative;
  color: green;
  bottom: -0.4em;
  z-index: 5;
}

.vl {
  border-left: 3px solid grey;
  height: 20px;
  padding-top: 0.5em;
}

.space {
  margin-left: 2.5em;
}

.iconFloatRight {
  float: right;
}

.mat-fab.mat-small {
  min-width: 10%;
}

.material-icons.md-12 { font-size: 12px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.iconWhiteSmall {
  position: relative;
  color: white;
  bottom: 0.05em;
  left: -0.3em;
  z-index: 5;
}

.buttonPositionTop {
  position: fixed;
  z-index: 5;
  bottom:20%;
  right:10%;
}

button:focus {
  outline:0;
}

button.launch {
  outline:0;
}

button.change {
  outline:0;
}

button:active {
  outline: none;
  border: none;
}

.mat-column-actions {
  flex: 0 0 15px;
}

.refreshBtn
{
  background:transparent url('../../../public/icons/sync_24px.svg') no-repeat;
  color: blue;
}

.addBtn
{
  background:transparent url('../../../public/icons/add_24px.svg') no-repeat;
  color: green;
}

.editBtn
{
  background:transparent url('../../../public/icons/edit_24px.svg') no-repeat;
  color: blue;
}

.deleteBtn
{
  background:transparent url('../../../public/icons/delete_24px.svg') no-repeat;
  color: red;
}

.addWhiteBtn
{
  background:transparent url('../../../public/icons/add_white_24px.svg') no-repeat;
  color: red;
}

.local-mat-icon-button {
  padding: 0;
  min-width: 0;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  line-height: 40px;
  border-radius: 50%;
  border-color: transparent;
  cursor: pointer;
  bottom: 0.1em;
  left: -0.3em;
}

.iconPositioning{
  transform: translate(0px,15px);
  -ms-transform: translate(0px,15px); /* IE 9 */
  -webkit-transform: translate(0px,15px); /* Safari and Chrome */
  -o-transform: translate(0px,15px); /* Opera */
  -moz-transform: translate(0px,15px); /* Firefox */
}

.iconRowPositioning{
  transform: translate(0px,0px);
  -ms-transform: translate(0px,0px); /* IE 9 */
  -webkit-transform: translate(0px,0px); /* Safari and Chrome */
  -o-transform: translate(0px,0px); /* Opera */
  -moz-transform: translate(0px,0px); /* Firefox */
  margin-top: 1em;
}

.iconFloatinButtonPositioning{
  transform: translate(0px,0px);
  -ms-transform: translate(0px,0px); /* IE 9 */
  -webkit-transform: translate(0px,0px); /* Safari and Chrome */
  -o-transform: translate(0px,0px); /* Opera */
  -moz-transform: translate(0px,0px); /* Firefox */
  margin-top: 0em;
  margin-left: 1em;
}
