.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.highlight {
  background: #808080;
}

.div-table-body { height: 600px; overflow-x: auto; overflow-y: scroll;}
