.job-ad {
  border: 1px solid gray;
  padding: 5px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 10px;
  background-color: lightblue;
  color: black;
  margin: 20px;
}
.shadowCard {
  z-index: 2;
  margin-bottom: 1em;
}
